<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Unplastify - Single Use, We Refuse</title>
    <meta name="title" content="Unplastify - Single Use, We Refuse">
    <meta name="description" content="@Url.Action("Index", "Home", null, ViewContext.HttpContext.Request.Scheme)">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Url.Action("Index", "Home", null, ViewContext.HttpContext.Request.Scheme)">
    <meta property="og:title" content="Unplastify - Single Use, We Refuse">
    <meta property="og:description" content="The change starts with you. A Single-Use Plastic Products Regulation Campaign">
    <meta property="og:image" content="/images/meta-cover.png">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="@Url.Action("Index", "Home", null, ViewContext.HttpContext.Request.Scheme)">
    <meta property="twitter:title" content="Unplastify - Single Use, We Refuse">
    <meta property="twitter:description" content="The change starts with you. A Single-Use Plastic Products Regulation Campaign">
    <meta property="twitter:image" content="/images/meta-cover.png">

    <title>@ViewData["Title"] - Unplastify</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/mdb-ui-kit/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/images/Dark Mode_1.png" type="image/x-icon"/>
    <style>
        body {
            font-family: Manrope;
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand nav-link" asp-controller="Home" asp-action="Index">
                    <img class="w-50" src="/images/Logo.png" alt="brand" />
                </a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex flex-row ms-auto text-nowrap">
                        @if (ViewContext.RouteData.Values["action"]?.ToString() == "Index")
                        {
                            <li class="mx-3 nav-item active">
                                <a class="nav-link" href="#plastics">What are Plastics</a>
                            </li>
                            <li class="mx-3 nav-item">
                                <a class="nav-link" href="#philBg">Plastics in the Philippines</a>
                            </li>
                        }
                        <li class="mx-3 nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Action">Ways to help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="bg-light text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2021 - Unplastify
        </div>
    </footer>

    <script src="lib/mdb-ui-kit/mdb.min.js"></script>
    <script src="lib/gsap/gsap.min.js"></script>
    <script src="lib/ScrollMagic/ScrollMagic.min.js"></script>
    <script src="lib/ScrollMagic/plugins/animation.gsap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
